


.simplehead{
    margin: 10px;
    width: 100%;
    height: 150px;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.simplehead > p {
    font-size: 35px;
}